* {
  font-family: "Corinthia", cursive;
  font-family: "Raleway", sans-serif;
  font-family: "Ubuntu", sans-serif;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 16px;
  padding-bottom: 1rem;
  color: hsla(0, 0%, 0%, 0.7);
  font-family: "Nunito Sans", sans-serif;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100px;
  padding: 1rem;
  background-color: hsla(0, 0%, 100%, 50%);
  box-shadow: 1px 1px 10px hsla(0, 0%, 0%, 0.3);
}

/* .form-modal {
  position: fixed;
  width: 100vw;
  height: 100vh;
  background-color: hsla(0, 0%, 0%, 40%);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1;
} */
/* .form-modal.active {
  display: flex;
} */

.login-form-fieldset {
  border: none;
  display: flex;
  flex-direction: column;
}

.login-form-fieldset input {
  margin-bottom: 1rem;
  padding: 0.2rem 1rem;
  border-radius: 1rem;
  border: 2px solid hsla(0, 0%, 0%, 0.2);
}

.loginform {
  position: relative;
  background-color: hsla(0, 0%, 100%, 100%);
  display: flex;
  flex-direction: column;
  padding: 1rem;
  width: min-content;
  z-index: 2;
  border-radius: 1rem;
}

input:invalid {
  border-color: rgb(194, 114, 114);
  background-color: #fdd;
}

input:focus:invalid {
  outline: none;
}

/* This is the style of our error messages */
.error {
  width: 100%;
  padding: 0;

  font-size: 80%;
  color: white;
  background-color: rgb(228, 194, 194);
  border-radius: 0 0 5px 5px;

  box-sizing: border-box;
}

.error.active {
  padding: 0.3em;
}
